<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalapp">
    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalApp">
        <activity
            android:name=".CovidICU10"
            android:exported="false" />
        <activity
            android:name=".CovidICU109"
            android:exported="false" />
        <activity
            android:name=".CovidICU108"
            android:exported="false" />
        <activity
            android:name=".CovidICU107"
            android:exported="false" />
        <activity
            android:name=".CovidICU106"
            android:exported="false" />
        <activity
            android:name=".CovidICU105"
            android:exported="false" />
        <activity
            android:name=".CovidICU103"
            android:exported="false" />
        <activity
            android:name=".CovidICU102"
            android:exported="false" />
        <activity
            android:name=".CovidICU104"
            android:exported="false" />
        <activity
            android:name=".CovidICU101"
            android:exported="false" />
        <activity
            android:name=".CovidICU100"
            android:exported="false" />
        <activity
            android:name=".covidICU1"
            android:exported="false" />
        <activity
            android:name=".BioMedicalWasteAudit"
            android:exported="false" />
        <activity
            android:name=".WardsPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>